.select{
  float: left;
  list-style-type: none;
  margin-left:36px;
  width: 260px;
  margin-top: 750px;
  color: #f8b377;
  text-align:center;
  font-family: "Ek Mukta",sans-serif;
  padding: 0px 2px;
  line-height: 1.4em;

}
.circles{
  overflow: hidden;
  

}

.start{
  position: absolute;
  
  margin-left: auto;
  margin-right: auto;
  
  
  



}
.ih-item {
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: black;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item .info h2{
margin-top: 50px;
}



.ih-item.circle.effect13.colored .info { //
  background: black;
  background: rgba(26, 74, 114, 0.3);
}
.ih-item.circle.effect13 .info {
  background: black;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


.ih-item.circle.effect13 a:hover .info {
  opacity: 0.6;

  background-color: #f9ebdf;
}
.ih-item.circle.effect13 a:hover .info h2 {
  visibility: visible;
  opacity: 1;

}
.ih-item.circle.effect13 a:hover p {
  visibility: visible;
}

.ih-item .info h2:hover{
margin-top: 50px;
opacity: 1;
}