.preview{
	float:left;
	
	z-index: 500;
	position: absolute;
	top: 48%;                        
   transform: translate(0, -50%);
	
}
.gplay{
	position: absolute;
	
	margin-left: 94px;
	float: left;
	z-index: 100000;
	
	top: 68%;                         
   transform: translate(0, -50%);
}

.monks{
	clear: none;
	margin-top: 30px;
	right:0;
	z-index: 50000;
	position: absolute;
}
.daily{
	z-index: 1000;
	
	position: absolute;
	background-color: #4244c0;
	font-family: 'Karla', sans-serif;
	
	opacity: 0.7;
	left: 0;
	width: 100%;
	bottom: 0;
    padding: 20px 0px;
    text-align: center;
}
.daily h3,.daily p{
	display: inline;
	color:white;


}
.daily h3{
	font-size: 1.5em;

}
.daily p{
	font-size: 1.2em;
}
